@import url("https://fonts.googleapis.com/css?family=Didact+Gothic");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

html {
	background-color: #39424E;
	font-family: "Didact Gothic", "Noto Sans CJK SC", "Noto Sans CJK", "Source Han Sans", "Noto Sans SC Sliced", "Hiragino Sans GB", "Microsoft Yahei", "sans serif";
    font-size: 16px;
}

body {
	font-size: 16px;
	font-family: "Didact Gothic", "Noto Sans CJK SC", "Noto Sans CJK", "Source Han Sans", "Noto Sans SC Sliced", "Hiragino Sans GB", "Microsoft Yahei", "sans serif";
	color: #fff;
	line-height: 2rem;
	text-shadow: none;
    opacity: 1;
    background-color: #39424E;
}

a {
	color: #ccc;
	text-decoration: none;
	border-bottom: 2px solid #ccc;
	transition: .5s ease;
}
a:hover {
	color: #fff;
    font-style: none;
    text-decoration: none;
}
a:active {
	color: #ccc;
}

p {
    margin: 1em 0;
	line-height: 1.8;
	opacity: 0.8
}

blockquote {
	background-color: #ccc;
	color: #39424E;
	padding: 1rem 2rem;
	margin: 1rem;
	border-radius: 3px
}

blockquote a {
	color: #111;
}
blockquote ul {
	margin-top: 1rem;
}
blockquote li {
	list-style: disc;
}

h1, h2, h3 {
	margin: 1em 0em;
    text-align: left
    font-family: "Didact Gothic", "Noto Sans CJK SC", "Noto Sans CJK", "Source Han Sans", "Noto Sans SC Sliced", "Hiragino Sans GB", "Microsoft Yahei", "sans serif";
	opacity: 0.6;
}

hr {
	margin: 2em 0;
	background-color: transparent;
	width: 50%;
	border-style: solid;
	border-width: 1px;
	opacity: 0.3;
}

li {
    line-height: 2;
	padding-left: 0.4rem;
	opacity: 0.8;
}
li a {
	opacity: 0.9;
}
ul {
    margin: 1em 0;
	list-style: disc outside;
	padding-left: 2rem;
}
ol {
    margin: 1em 0;
	list-style: decimal outside;
	padding-left: 2rem;
}

mark {
    background: -webkit-gradient(linear,left top, left bottom,color-stop(60%, transparent),color-stop(60%, yellow));
    background: -webkit-linear-gradient(transparent 60%,yellow 60%);
    background: -o-linear-gradient(transparent 60%,yellow 60%);
    background: linear-gradient(transparent 60%,yellow 60%);
    font-weight: 700;
}

img {
	width: 100%;
	max-width: 100%;
	display: block;
	margin: 2rem auto;
	opacity: 1;
}